{% extends 'layout/layout.html' %}
{% block title %}Admin{% endblock %}

{% block body %}

    <div class="post-div">
        {% for post in posts %}
            <div class="post-content">
                <p>Author: {{ post.nickname }}</p>
                <p>- {{ post.content }}</p>
                <p id="date">{{ post.upload_date.strftime('%B %d, %Y %I:%M %p') }}</p>
                <button class="delete-button" data-id="{{ post._id }}">Delete</button>
                <hr>
            </div>
        {% endfor %}
    </div>
    <script src="/static/js/app.js"></script>
{% endblock %}
