{% extends 'layout/layout.html' %}
{% block title %}Inspirational quotes{% endblock %}

{% block body %}

    <div class="nav-bar">
        <a href="/quotes">
            <h1 id="title">Quotes</h1>
        </a>
        <nav class="nav-categories">
            <li><a href="/quotes/motivational" id="cat-bar">Motivational</a></li>
            <li><a href="/quotes/inspirational" id="cat-bar-clicked">Inspirational</a></li>
            <li><a href="/quotes/wise" id="cat-bar">Wise</a></li>
            <li><a href="/quotes/movie" id="cat-bar">Movie</a></li>
            <li><a href="/quotes/other" id="cat-bar">Other</a></li>
        </nav>
        <a href="/">
            <button id="post-quote">
                Post a quote
            </button>
        </a>
    </div>
    <div class="post-div">
        {% for post in posts %}
            <div class="post-content">
                <p>Author: {{ post.author }}</p>
                <p>- {{ post.content }}</p>
                <p id="date-cat">{{ post.category }} - {{ post.upload_date.strftime('%B %d, %Y %I:%M %p') }}</p>
                <hr>
            </div>
        {% endfor %}
    </div>


{% endblock %}