{% extends 'layout/layout.html' %}
{% block title %}Quotes{% endblock %}

{% block body %}

    <a href="/">
        <h1 id="title">Post a quote</h1>
    </a>
    <div class="post-div">
        {% for post in posts %}
            <div class="post-content">
                <p id="author">Author: {{ post.nickname }}</p>
                <p id="content">- {{ post.content }}</p>
                <p id="date">{{ post['created_at'].strftime('%B %d, %Y %I:%M %p') }}</p>
                <hr>
            </div>
        {% endfor %}
    </div>
    



{% endblock %}
