{% extends 'layout/layout.html' %}
{% block title %}Quotes{% endblock %}

{% block body %}

    <div class="nav-bar">
        <a href="/quotes">
            <h1 id="title">Quotes</h1>
        </a>
        <nav class="nav-categories">
            <li><a href="/quotes/motivational" id="cat-bar"><button id="motivational-button">Motivational</button></a></li>
            <li><a href="/quotes/inspirational" id="cat-bar"><button id="inspirational-button">Inspirational</button></a></li>
            <li><a href="/quotes/wise" id="cat-bar"><button id="wise-button">Wise</button></a></li>
            <li><a href="/quotes/movie" id="cat-bar"><button id="movie-button">Movie</button></a></li>
            <li><a href="/quotes/other" id="cat-bar"><button id="other-button">Other</button></a></li>
        </nav>
        <a href="/">
            <button id="post-quote">
                Post a quote
            </button>
        </a>
    </div>
    <div class="post-div">
        {% for post in posts %}
            <div class="post-content">
                <p>Author: {{ post.author }}</p>
                <p>- {{ post.content }}</p>
                <p id="date-cat">{{ post.category }} - {{ post.upload_date.strftime('%B %d, %Y %I:%M %p') }}</p>
                <hr>
            </div>
        {% endfor %}
    </div>

{% endblock %}
